.mat-cell, .mat-header-cell {
    word-wrap: break-word;
    justify-content: center;
}

.mat-table {
	min-width: 325px;
    max-width: 600px;
    background-color: #FFFFFF;
}

.places {
    justify-content: left;
    color: goldenrod;
    max-width: 25px;
}