.mat-cell, .mat-header-cell {
    justify-content: center;
}

.mat-table, .mat-card {
	min-width: 300px;
    max-width: 600px;
    background-color: #FFFFFF;
}

.places {
    justify-content: left;
    color: goldenrod;
    text-justify: distribute;
    max-width: 20px;
}