.name-width {
    width: 67%;
}

.winner-width {
    width: 50%;
}

.holes-width {
    width: 14%;
    padding-left: 3%;
}

.stroke-width {
    width: 30%;
    padding-left: 3%;
}

.mat-card {
    min-width: 325px;
    max-width: 600px;
}