<mat-card class="mat-elevation-z8" style="margin: 0 auto;" [ngStyle]="{ 'width': cardWidth }">
    <mat-card-header>
        <h2>Record Player Data</h2>
    </mat-card-header>
    <mat-card-content>
        <form class="stack-contents-vertically" [formGroup]="form">
            <p>
                <mat-form-field class="full-width">
                    <mat-label>Player 1 Name</mat-label>
                    <input matInput type="text" formControlName="player1">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="full-width">
                    <mat-label>Player 2 Name</mat-label>
                    <input matInput type="text" formControlName="player2">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="full-width">
                    <mat-label>Winner Name</mat-label>
                    <input matInput type="text" formControlName="result">
                </mat-form-field>
            </p>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </mat-card-actions>
</mat-card>
