<app-card-wrapper>
    <mat-card-title style="text-align: center;">
        <h2>Match History</h2>
    </mat-card-title>
    <mat-card-content>
        <div *ngIf="games.length != 0; then matchData; else noDataMessage"></div>

        <ng-template #noDataMessage>
            <h3 style="text-align: center; color:rgba(0, 0, 0, 0.5); padding-top: 10px;">No Game History to Display!</h3>
        </ng-template>

        <ng-template #matchData>
            <mat-accordion>
                <div *ngFor="let week of weeks">
                    <mat-expansion-panel *ngIf="gamesInWeeks[week].length > 0" style="margin: 0 auto;">
                        <mat-expansion-panel-header>
                            <mat-panel-title>Week {{ week + 1 }}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-match-list [games]="gamesInWeeks[week]"></app-match-list>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </ng-template>
    </mat-card-content>
</app-card-wrapper>