<mat-card class="mat-elevation-z8" style="margin: 0 auto;" [ngStyle]="{ 'width': cardWidth }">
    <div style="text-align: center;">
        <h2>Record Player Data</h2>
    </div>
    <mat-card-content>
        <form class="stack-contents-vertically" [formGroup]="form">
            <div>
                <mat-form-field class="name-width">
                    <mat-select (click)="updatePlayers()" placeholder="Select Player" formControlName="player1">
                        <mat-option *ngFor="let player of playerNames" [value]="player" >{{ player }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="stroke-width">
                    <input matInput type="number" placeholder="Play. Strokes">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="name-width">
                    <mat-select placeholder="Select Opponent" formControlName="player2">
                        <mat-option *ngFor="let player of playerNames" [value]="player" >{{ player }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="stroke-width">
                    <input matInput type="number" min="0" placeholder="Opp. Strokes">
                </mat-form-field>
            </div>

            <p>
                <mat-form-field class="name-width">
                    <mat-select placeholder="Select Winner" formControlName="result">
                        <mat-option [value]="this.form.value.player1">{{ this.form.value.player1 }}</mat-option>
                        <mat-option [value]="this.form.value.player2">{{ this.form.value.player2 }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="stroke-width">
                    <mat-label>Choose a date</mat-label>
                    <input matInput type="date">
                </mat-form-field>
            </p>

        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </mat-card-actions>
</mat-card>