<mat-card class="mat-elevation-z8" [ngStyle]="{ 'width': cardWidth }">
    <mat-card-content style="text-align: center;">
        <p style="color: #90A4AE;">{{ gameDate }}</p>
        <div class="player-data">
            <h3 [ngStyle]="{ 'font-weight': player1Score < player2Score ? '600' : '400' }">{{ player1Name }}</h3>
            <h3 [ngStyle]="{ 'font-weight': player1Score < player2Score ? '600' : '400' }">{{ player1Score}}</h3>
        </div>
        <div class="player-data">
            <h3 [ngStyle]="{ 'font-weight': player2Score < player1Score ? '600' : '400' }">{{ player2Name }}</h3>
            <h3 [ngStyle]="{ 'font-weight': player2Score < player1Score ? '600' : '400' }">{{ player2Score}}</h3>
        </div>
    </mat-card-content>
</mat-card>