.player-data {
    display: flex;
    justify-content: space-around;
}

.mat-elevation-z8 {
    margin: 0 auto;
}

.card-width {
    min-width: 245px;
    max-width: 600px;
    padding-left: 5px;
    padding-right: 5px;
}